@import "../../../styles/mixin.scss";
@import "../../../styles/variable.scss";

.tab-bar {
  &-list {
    display      : flex;
    flex-wrap    : wrap;
    width        : 100%;
    border-bottom: 1px solid $border-color;

    li {
      p {
        display       : inline-block;
        font-size     : 18px;
        font-weight   : 600;
        text-transform: uppercase;
        padding       : 13px 18px;
        cursor        : pointer;
      }

      p:hover {
        color        : $main-color;
        border-bottom: 2px solid $main-color;
      }

      .active {
        color        : $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }
}