@import "../../styles/variable.scss";

.shopNow {
  background-image   : url("../../img/banner.png");
  background-size    : cover;
  background-position: center;
  height             : 84.5vh;
  position           : relative;

  &-inner {
    .shopNow-img {
      position: relative;

      img {
        width: 100%;
      }
    }

    .shopNow-content {
      color    : white;
      position : absolute;
      top      : 49%;
      transform: translateY(-50%);
      z-index  : 2;
      width    : 524px;

      h1 {
        font-size  : 60px;
        font-weight: 600;
      }

      h3 {
        font-size    : 40px;
        font-weight  : 600;
        margin-bottom: 16px;
      }

      p {
        font-size    : 14px;
        margin-bottom: 43px;
      }

      a {
        margin : 12px 0;
        display: inline-block;

        color         : white;
        font-size     : 14px;
        text-transform: uppercase;
        padding       : 14px 46px;
        border        : 1px solid white;

        &:hover {
          background-color: $main-color;
        }
      }
    }
  }
}